html {
  background-image: 
    radial-gradient(rgb(201, 99, 168) 2px, transparent 2px),
    radial-gradient(rgb(56, 129, 177) 2px, transparent 2px);
  background-size: 32px 32px;
  background-position: 
    0px 0px,
    16px 16px;
  background-color: #2b2332;
  padding: 15px;
  padding-left: 15px;
}

@font-face {
  font-family: FunnelDisplay;
  src: url(assets/FunnelDisplay.ttf);
  font-weight: 550;
}

body {
  font-size: 16px;
  font-family: FunnelDisplay, sans-serif;
  color: gainsboro;
}

a {
  color: cornflowerblue;
}

header {
  background-color: #542d71;
  border: 4px solid #422759;
  padding: 1px;
  padding-left: 12px;
  border-radius: 20px;
}

.box {
  background-color: #402a52;
  border: 4px solid #372547;
  text-decoration: none;
  margin-top: 10px;
  padding: 15px;
  border-radius: 20px;
}

a.box {
  font-size: 20px;
  width: 100%;
}

.date {
  font-size: 16px;
  color: #aaa;
  display: flex;
  text-align: right;
}

img {
  padding-left: 15px;
}

nav ul {
  padding-left: 0px;
  list-style-type: none;
}

nav ul li {
  display: inline;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 32px;
}

a.title {
  color: gainsboro;
}

a.link {
  color: orchid;
}

a.link:hover {
  color: mediumpurple;
}